{% extends "base.html" %}
{% load static %}

{% block titulo %}
    Inicio
{% endblock %}

{% block content %}
<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text text-center">
                            <h3>¡Tlaxcala brilla!</h3>
                            <p>Santuario de las luciérnagas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center justify-content-center slider_bg_2">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text text-center">
                            <h3>Conexión con la Naturaleza</h3>
                            <p>Un paseo nocturno dentro de los bosques de coníferas, donde las noches se vuelven mágicas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_3">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text text-center">
                            <h3>Hospitalidad en la Sierra</h3>
                            <p>Hospédate con nosotros y descubre un entorno único</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<!-- about_area_start -->
<div class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <span>Comienza la aventura</span>
                        <h3>Visita<br>Xoletongo</h3>
                    </div>
                    <p>Empresa familiar apasionada por la comida tradicional Tlaxcalteca, y comprometida con el rescate de las recetas de herencia e historia.
                         Ofrecemos experiencias vivas, con base en las tradiciones y costumbres de nuestros Pueblos.</p>
                    <a href="#" class="line-button">Conoce más</a>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7">
                <div class="about_thumb d-flex">
                    <div class="img_1"><img src="{% static 'img/about/about_1.png' %}" alt=""></div>
                    <div class="img_2"><img src="{% static 'img/about/about_2.png' %}" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about_area_end -->

<!-- offers_area_start -->
<!-- offers_area_start -->
<div class="offers_area">
    <div class="container">
        <div class="section_title text-center mb-100">
            <span>¿Qué ofrecemos?</span>
            <h3>Servicios Disponibles</h3>
        </div>
        <div class="row">

            <div class="col-xl-4 col-md-6">
                <div class="single_offers text-center">
                    <div class="about_thumb">
                        <img src="{% static 'img/offers/gastroturismo.png' %}" alt="Gastroturismo">
                    </div>
                    <h3>Gastroturismo</h3>
                    <p>Degustaciones de platillos tradicionales con ingredientes prehispánicos.</p>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="single_offers text-center">
                    <div class="about_thumb">
                        <img src="{% static 'img/offers/agroturismo.png' %}" alt="Agroturismo">
                    </div>
                    <h3>Agroturismo</h3>
                    <p>Recolectamos productos del campo listos para cocinarse.</p>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="single_offers text-center">
                    <div class="about_thumb">
                        <img src="{% static 'img/offers/regenerativo.png' %}" alt="Turismo Regenerativo">
                    </div>
                    <h3>Turismo Regenerativo</h3>
                    <p>Convivencia con las comunidades locales y su día a día.</p>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="single_offers text-center">
                    <div class="about_thumb">
                        <img src="{% static 'img/offers/destilado.png' %}" alt="Destilado Artesanal">
                    </div>
                    <h3>Destilado Artesanal</h3>
                    <p>Destilación artesanal de agave con sal de gusano Chinicuil.</p>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="single_offers text-center">
                    <div class="about_thumb">
                        <img src="{% static 'img/offers/senderismo.png' %}" alt="Senderismo">
                    </div>
                    <h3>Senderismo</h3>
                    <p>Interpretación ambiental de flora y fauna local.</p>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="single_offers text-center">
                    <div class="about_thumb">
                        <img src="{% static 'img/offers/luciernagas.png' %}" alt="Avistamiento de luciérnagas">
                    </div>
                    <h3>Avistamiento de Luciérnagas</h3>
                    <p>Experiencia mágica en temporada de junio a agosto.</p>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mx-auto">
                <div class="single_offers text-center">
                    <div class="about_thumb">
                        <img src="{% static 'img/offers/talleres.png' %}" alt="Talleres">
                    </div>
                    <h3>Talleres</h3>
                    <p>Elaboración de alimentos tradicionales y pan de pulque.</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- offers_area_end -->
<!-- offers_area_start -->
<div class="offers_area">
    <div class="container">
        <div class="section_title text-center mb-100">
            <span>¿Qué ofrecemos?</span>
            <h3>Servicios Disponibles</h3>
        </div>
        <div class="row">

            <div class="col-xl-4 col-md-6">
                <a href="{% url 'gastroturismo' %}">
                    <div class="single_offers text-center">
                        <div class="about_thumb">
                            <img src="{% static 'img/offers/gastroturismo.png' %}" alt="Gastroturismo">
                        </div>
                        <h3>Gastroturismo</h3>
                        <p>Degustaciones de platillos tradicionales con ingredientes prehispánicos.</p>
                    </div>
                </a>
            </div>

            <div class="col-xl-4 col-md-6">
                <a href="{% url 'agroturismo' %}">
                    <div class="single_offers text-center">
                        <div class="about_thumb">
                            <img src="{% static 'img/offers/agroturismo.png' %}" alt="Agroturismo">
                        </div>
                        <h3>Agroturismo</h3>
                        <p>Recolectamos productos del campo listos para cocinarse.</p>
                    </div>
                </a>
            </div>

            <div class="col-xl-4 col-md-6">
                <a href="{% url 'regenerativo' %}">
                    <div class="single_offers text-center">
                        <div class="about_thumb">
                            <img src="{% static 'img/offers/regenerativo.png' %}" alt="Turismo Regenerativo">
                        </div>
                        <h3>Turismo Regenerativo</h3>
                        <p>Convivencia con las comunidades locales y su día a día.</p>
                    </div>
                </a>
            </div>

            <div class="col-xl-4 col-md-6">
                <a href="{% url 'destilamiento' %}">
                    <div class="single_offers text-center">
                        <div class="about_thumb">
                            <img src="{% static 'img/offers/destilado.png' %}" alt="Destilado Artesanal">
                        </div>
                        <h3>Destilado Artesanal</h3>
                        <p>Destilación artesanal de agave con sal de gusano Chinicuil.</p>
                    </div>
                </a>
            </div>

            <div class="col-xl-4 col-md-6">
                <a href="{% url 'senderismo' %}">
                    <div class="single_offers text-center">
                        <div class="about_thumb">
                            <img src="{% static 'img/offers/senderismo.png' %}" alt="Senderismo">
                        </div>
                        <h3>Senderismo</h3>
                        <p>Interpretación ambiental de flora y fauna local.</p>
                    </div>
                </a>
            </div>

            <div class="col-xl-4 col-md-6">
                <a href="{% url 'avistamiento' %}">
                    <div class="single_offers text-center">
                        <div class="about_thumb">
                            <img src="{% static 'img/offers/luciernagas.png' %}" alt="Avistamiento de Luciérnagas">
                        </div>
                        <h3>Avistamiento de Luciérnagas</h3>
                        <p>Experiencia mágica en temporada de junio a agosto.</p>
                    </div>
                </a>
            </div>

            <div class="col-xl-4 col-md-6 mx-auto">
                <a href="{% url 'talleres' %}">
                    <div class="single_offers text-center">
                        <div class="about_thumb">
                            <img src="{% static 'img/offers/talleres.png' %}" alt="Talleres">
                        </div>
                        <h3>Talleres</h3>
                        <p>Elaboración de pan de pulque y otros alimentos tradicionales.</p>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>
<!-- offers_area_end -->

<!-- offers_area_end -->

<!-- video_area_start -->
<div class="video_area video_bg overlay">
    <div class="video_area_inner text-center">
        <span>Montana Sea View</span>
        <h3>Relax and Enjoy your <br>Vacation </h3>
        <a href="https://www.youtube.com/watch?v=vLnPwxZdW4Y" class="video_btn popup-video">
            <i class="fa fa-play"></i>
        </a>
    </div>
</div>
<!-- video_area_end -->

<!-- about_area_start -->
<div class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="about_thumb2 d-flex">
                    <div class="img_1"><img src="{% static 'img/about/1.png' %}" alt=""></div>
                    <div class="img_2"><img src="{% static 'img/about/2.png' %}" alt=""></div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <span>Delicious Food</span>
                        <h3>We Serve Fresh and <br>Delicious Food</h3>
                    </div>
                    <p>Suscipit libero pretium nullam potenti. Interdum, blandit phasellus consectetuer dolor ornare
                        dapibus enim ut tincidunt rhoncus tellus sollicitudin pede nam maecenas, dolor sem.</p>
                    <a href="#" class="line-button">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about_area_end -->

<!-- features_room_start -->
<div class="features_room">
    <div class="container">
        <div class="section_title text-center mb-100">
            <span>Featured Rooms</span>
            <h3>Choose a Better Room</h3>
        </div>
        <div class="rooms_here">
            {% for i in "1234"|make_list %}
            <div class="single_rooms">
                <div class="room_thumb">
                    <img src="{% static 'img/rooms/'|add:i|add:'.png' %}" alt="">
                    <div class="room_heading d-flex justify-content-between align-items-center">
                        <div class="room_heading_inner">
                            <span>From $250/night</span>
                            <h3>{% if i == "1" %}Superior Room{% elif i == "2" %}Deluxe Room{% elif i == "3" %}Signature Room{% else %}Couple Room{% endif %}</h3>
                        </div>
                        <a href="#" class="line-button">book now</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- features_room_end -->

<!-- forQuery_start -->
<div class="forQuery">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1 col-md-12">
                <div class="Query_border">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-6 col-md-6">
                            <div class="Query_text">
                                <p>For Reservation or Query?</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="phone_num">
                                <a href="#" class="mobile_no">+10 576 377 4789</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- forQuery_end -->

{% endblock %}
